@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    color-scheme: dark;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
  }

  *::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f500;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff;
  }

  @media (prefers-color-scheme: dark) {
    *::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #2e3f5a;
    }
  }

  unused-scrollbar-hider {
    scrollbar-width: none;
    -ms-overflow-style: none; /* for Internet Explorer and Edge */
  }
  @keyframes animate {
    0% {
      left: 100px;
      top: 0;
    }
    80% {
      left: 0;
      top: 0;
    }
    85% {
      left: 0;
      top: -20px;
      width: 20px;
      height: 20px;
    }
    90% {
      left: 100px;
      top: -20px;
      width: 20px;
      height: 20px;
    }
    100% {
      left: 100px;
      top: 0;
    }
  }
  .loader-color {
    @apply bg-gray-700 dark:bg-gray-300;
  }
  .animate-div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    animation: animate 2s linear infinite;
  }
  .-delay-400 {
    animation-delay: -0.4s;
  }

  .-delay-800 {
    animation-delay: -0.8s;
  }

  .-delay-1200 {
    animation-delay: -1.2s;
  }

  .-delay-1600 {
    animation-delay: -1.6s;
  }
  .nav-list {
    @apply list-none mb-0;
  }
  .nav-list li {
    @apply block py-2 px-4 rounded-t-xl text-medium dark:text-light font-bold cursor-pointer w-full text-center mx-1;
  }
  .nav-list li.active {
    view-transition-name: navActiveTab;
    @apply dark:bg-medium bg-light relative transition-all duration-100 ease-in-out;
  }
  ::view-transition(navActiveTab) {
    animation-duration: 1.5s;
  }
  .nav-list li.active::before,
  .nav-list li.active::after {
    --border-radius: 1rem;
    @apply content-[''] absolute w-[var(--border-radius)] h-[var(--border-radius)]
     bg-white dark:bg-gray-900;
  }
  .nav-list li.active::before {
    bottom: calc(var(--border-radius) * 0);
    left: calc(var(--border-radius) * -0.993);
    @apply rounded-br-xl shadow-[8px_8px_5px_1px] dark:shadow-medium shadow-light;
  }
  .nav-list li.active::after {
    bottom: calc(var(--border-radius) * 0);
    right: calc(var(--border-radius) * -0.999);
    @apply rounded-bl-xl shadow-[-8px_7px_5px_1px] dark:shadow-medium shadow-light;
  }
  ----------------------------------- .user-navigation {
    @apply list-none;
  }
  .user-navigation li {
    @apply block py-2 px-4 rounded-s-xl text-medium dark:text-light font-bold cursor-pointer w-full text-center mx-1;
  }
  .user-navigation li.active {
    view-transition-name: navActiveTab;
    @apply dark:bg-medium bg-light relative transition-all duration-100 ease-in-out;
  }
  ::view-transition(navActiveTab) {
    animation-duration: 1.5s;
  }
  .user-navigation li.active::before,
  .user-navigation li.active::after {
    --border-radius: 1rem;
    @apply content-[''] absolute w-[var(--border-radius)] h-[var(--border-radius)]
     bg-white dark:bg-gray-800;
  }
  .user-navigation li.active::before {
    top: calc(var(--border-radius) * -1);
    right: calc(var(--border-radius) * 0.3);
    @apply rounded-br-xl shadow-[8px_8px_5px_1px] dark:shadow-medium shadow-light;
  }
  .user-navigation li.active::after {
    bottom: calc(var(--border-radius) * -1);
    right: calc(var(--border-radius) * 0.3);
    @apply rounded-tr-xl shadow-[8px_-8px_5px_1px] dark:shadow-medium shadow-light;
  }
}
